<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Formularios.My.MySettings.PROYECTOODSConnectionString"
            connectionString="Data Source=DESKTOP-NIH4RAC\MSSQLSERVER2;Initial Catalog=PROYECTOODS;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>